In [78]:
import glob
import pandas as pd
import numpy as np
import re,os
import time,random

In [79]:
files_seq = []
for fi_seq in glob.iglob('bird_strike/*20*/**/*.seq', recursive=True) :
# for fi_seq in glob.iglob('bird_strike/*.seq', recursive=True) :
    files_seq.append(fi_seq)
print('--------------1')
print(len(files_seq))
print('--------------1')

--------------1
2586
--------------1

In [80]:
s = 'bird_strike20200427&20200506潮汕机场2个萧山机场7个样品结果/测序结果/cytb/良好/ZSHC-2020-07_L14995-H16065_C2291.L14995.PW005090042.seq'
re.search(r'(?<=bird_strike)(\d+)',s).groups()

('20200427',)

In [81]:
[print(i) for i in files_seq[:3]]

bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/测序结果/cytb/良好/ZSHC-2020-07_L14995-H16065_C2291.L14995.PW005090042.seq
bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/测序结果/cytb/良好/ZSHC-2020-04_L14995-H16065_C2291.L14995.PW005090036.seq
bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/测序结果/cytb/良好/ZSHC-2020-02_L14995-H16065_C2291.L14995.PW005090028.seq

[None, None, None]

In [82]:
# i = 'bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/测序结果/cytb/良好/ZSHC-2020-02_L14995-H16065_C2291.L14995.PW005090028.seq'
i = 'bird_strike/20200924北京大兴机场44&常州机场4个样品结果/测序结果/COI-1/良好/ZBAD2020-300-yumao_COI-1_C2890.COI-1-bird-F.PW009290069.seq'
date = re.search(r'(?<=bird_strike/)(\d+)',i).groups()[0]
infoall = i.split('/')
file_name = os.path.basename(i)
# info = re.split(r'(COI-1|COI-2|L6615|H7956|cytb|L14995|H16065|BirdF1|BirdR1|Vercytb|L14841|H15149|ND2|L5219|H6313)',file_name)
info =   re.split(r'(COI-1|COI-2|L6615|H7956|cytb|L14995|H16065|BirdF1|BirdR1|Vercytb|L14841|H15149|ND2|L5219|H6313|cytB|COI|C1431|P905221|P905221|P2572|P905220|P2570|P905219|P905222)',file_name)

sample_code = info[0].strip('(_|-|\.|fangdang|zuojiyi)')

print(i)
print('---------------')
print(file_name)
print(info[0])
print(info[0].strip('(fangdang)|(zuojiyi)|_|-|\.'))
print('date:')
print(date)
print(sample_code)
print('infoall:')
print(infoall)
print('---')
print('file_name:')
print(file_name)
print('info：')
print(info)
print('info.strip:')
print(info[0].strip('(_|-)'))
print('---------------')

bird_strike/20200924北京大兴机场44&常州机场4个样品结果/测序结果/COI-1/良好/ZBAD2020-300-yumao_COI-1_C2890.COI-1-bird-F.PW009290069.seq
---------------
ZBAD2020-300-yumao_COI-1_C2890.COI-1-bird-F.PW009290069.seq
ZBAD2020-300-yumao_
ZBAD2020-300-yum
date:
20200924
ZBAD2020-300-yum
infoall:
['bird_strike', '20200924北京大兴机场44&常州机场4个样品结果', '测序结果', 'COI-1', '良好', 'ZBAD2020-300-yumao_COI-1_C2890.COI-1-bird-F.PW009290069.seq']
---
file_name:
ZBAD2020-300-yumao_COI-1_C2890.COI-1-bird-F.PW009290069.seq
info：
['ZBAD2020-300-yumao_', 'COI-1', '_C2890.', 'COI-1', '-bird-F.PW009290069.seq']
info.strip:
ZBAD2020-300-yumao
---------------

In [83]:
gene_lst = []
code_lst = []
sample_code_lst = []
file_name_lst = []
date_lst = []
path_lst = []
not_gene = 0
for i in files_seq:
    date = re.search(r'(?<=bird_strike/)(\d+)',i).groups()[0]
    infoall = i.split('/')
    file_name = os.path.basename(i)
#     file_name = re.sub(r'(?<=[a-zA-Z])-?\d.*\b','',file_name)
    try:
        date_lst.append(date)
        file_name_lst.append(file_name)
        info = re.split(r'(COI-1|COI-2|L6615|H7956|cytb|L14995|H16065|BirdF1|BirdR1|Vercytb|L14841|H15149|ND2|L5219|H6313|cytB|COI|C1431|P905221|P905221|P2572|P905220|P2570|P905219|P905222)',file_name)
        sample_code = info[0].strip('(_|-|\.|-yumao|fangdang|zuojiyi)')
        code = info[0].strip('(_|-|\.)')
#         name_lst.append(info[0].strip('(_|-)'))  
        code = re.sub(r'(?<=[a-zA-Z])-?\d.*\b','',code)
        code_lst.append(code)
        sample_code_lst.append(sample_code)
        if len(info)>1:
            gene_lst.append(info[1])
        else:
            gene_lst.append('-')
            not_gene += 1
#              if len(info)>0:
        path_lst.append(i)
    except Exception as e:
        print(file_name)
        print(e)
        raise(e)
#         pass
df_m = pd.DataFrame([date_lst,code_lst,gene_lst,file_name_lst,path_lst,sample_code_lst]).T
print(len(gene_lst))
print(len(file_name_lst))
print(len(date_lst))
print(len(path_lst))
print('not gene:'+str(not_gene))

2586
2586
2586
2586
not gene:0

In [84]:
df_m.columns = ['date','code','gene_name','file_name','path','sample_code']
df_m

,date,code,gene_name,file_name,path,sample_code
0,20200427,ZSHC,L14995,ZSHC-2020-07_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-07
1,20200427,ZSHC,L14995,ZSHC-2020-04_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-04
2,20200427,ZSHC,L14995,ZSHC-2020-02_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-02
3,20200427,JYCS,L14995,JYCS2020-03_L14995-H16065_C2291.L14995.PW00509...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,JYCS2020-03
4,20200427,ZSHC,L14995,ZSHC-2020-03_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-03
...,...,...,...,...,...,...
2581,20200825,KN,L14995,KN2928_L14995-H16065_C2777.L14995.PW009022109.seq,bird_strike/20200825&0826萧山机场4个&北京大兴机场44个样品结果/...,KN2928
2582,20200825,MF,L14995,MF8169_L14995-H16065_C2777.L14995.PW009022080.seq,bird_strike/20200825&0826萧山机场4个&北京大兴机场44个样品结果/...,MF8169
2583,20200825,CZ,L14995,CZ6715_L14995-H16065_C2777.L14995.PW009022092.seq,bird_strike/20200825&0826萧山机场4个&北京大兴机场44个样品结果/...,CZ6715
2584,20200413,JYCS,L14995,JYCS2020-01_L14995-H16065_C2243.L14995.PW00417...,bird_strike/20200413潮汕机场1个样品结果/测序结果/cytb/JYCS2...,JYCS2020-01
2585,20200413,JYCS,COI-1,JYCS2020-01_COI-1_C2243.COI-1-bird-F.PW0041701...,bird_strike/20200413潮汕机场1个样品结果/测序结果/COI/JYCS20...,JYCS2020-01

In [85]:
# df_m.iloc[:,[0,1,2,3]].replace('L14995','cytb',inplace=True) 
df_m.replace({'gene_name':'L14995'},'cytb',inplace=True)

In [86]:
df_m.iloc[[0,1,2],]

,date,code,gene_name,file_name,path,sample_code
0,20200427,ZSHC,cytb,ZSHC-2020-07_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-07
1,20200427,ZSHC,cytb,ZSHC-2020-04_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-04
2,20200427,ZSHC,cytb,ZSHC-2020-02_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-02

In [87]:
df_m.iloc[[0,1,2],]

,date,code,gene_name,file_name,path,sample_code
0,20200427,ZSHC,cytb,ZSHC-2020-07_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-07
1,20200427,ZSHC,cytb,ZSHC-2020-04_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-04
2,20200427,ZSHC,cytb,ZSHC-2020-02_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-02

In [88]:
length_df = len(df_m['path'])

df_m['random_num'] = [str(random.randint(10000, 99999)) for i in range(length_df) ]

In [89]:
df_m['data_num'] = df_m['code'] + df_m['gene_name']+df_m['date']+ df_m['random_num']

In [90]:
df_m.to_csv('airport.csv',encoding='utf_8_sig')

In [91]:
df_m.iloc[:,4].str.contains('&')

0        True
1        True
2        True
3        True
4        True
        ...
2581     True
2582     True
2583     True
2584    False
2585    False
Name: path, Length: 2586, dtype: bool

In [92]:
~df_m.iloc[:,4].str.contains('&')

0       False
1       False
2       False
3       False
4       False
        ...
2581    False
2582    False
2583    False
2584     True
2585     True
Name: path, Length: 2586, dtype: bool

In [93]:
df_m[~df_m.iloc[:,4].str.contains('&')].iloc[:,4]

12      bird_strike/20210428北京大兴机场1个检测结果/测序结果/COI-1/ZB...
13      bird_strike/20210428北京大兴机场1个检测结果/测序结果/COI-1/ZB...
14      bird_strike/20210428北京大兴机场1个检测结果/测序结果/ND2/ZBAD...
15      bird_strike/20210428北京大兴机场1个检测结果/测序结果/ND2/ZBAD...
16      bird_strike/20210428北京大兴机场1个检测结果/测序结果/Cytb/ZBA...
                              ...
2510    bird_strike/20200612萧山机场1个加急样品结果/测序结果/ND2/ZSHC...
2511    bird_strike/20200612萧山机场1个加急样品结果/测序结果/COI-2/ZS...
2512    bird_strike/20200612萧山机场1个加急样品结果/测序结果/COI-2/ZS...
2584    bird_strike/20200413潮汕机场1个样品结果/测序结果/cytb/JYCS2...
2585    bird_strike/20200413潮汕机场1个样品结果/测序结果/COI/JYCS20...
Name: path, Length: 1777, dtype: object

In [94]:
single_df = df_m[~df_m.iloc[:,4].str.contains('&')]

In [95]:
single_df.to_csv('single_df.csv',encoding='utf_8_sig')

In [96]:
s = '20200305北京大兴机场12个样品结果/测序结果/Cytb/ZBAD2020-09_L14995-H16065_C2175.L14995.PW003110010.seq'
s.split('/')[0]

'20200305北京大兴机场12个样品结果'

In [97]:
randnum = str(random.randint(1000, 9999))
randnum

'8329'

In [98]:
df_m

,date,code,gene_name,file_name,path,sample_code,random_num,data_num
0,20200427,ZSHC,cytb,ZSHC-2020-07_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-07,40749,ZSHCcytb2020042740749
1,20200427,ZSHC,cytb,ZSHC-2020-04_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-04,26039,ZSHCcytb2020042726039
2,20200427,ZSHC,cytb,ZSHC-2020-02_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-02,37879,ZSHCcytb2020042737879
3,20200427,JYCS,cytb,JYCS2020-03_L14995-H16065_C2291.L14995.PW00509...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,JYCS2020-03,76260,JYCScytb2020042776260
4,20200427,ZSHC,cytb,ZSHC-2020-03_L14995-H16065_C2291.L14995.PW0050...,bird_strike/20200427&20200506潮汕机场2个萧山机场7个样品结果/...,ZSHC-2020-03,84663,ZSHCcytb2020042784663
...,...,...,...,...,...,...,...,...
2581,20200825,KN,cytb,KN2928_L14995-H16065_C2777.L14995.PW009022109.seq,bird_strike/20200825&0826萧山机场4个&北京大兴机场44个样品结果/...,KN2928,12815,KNcytb2020082512815
2582,20200825,MF,cytb,MF8169_L14995-H16065_C2777.L14995.PW009022080.seq,bird_strike/20200825&0826萧山机场4个&北京大兴机场44个样品结果/...,MF8169,21483,MFcytb2020082521483
2583,20200825,CZ,cytb,CZ6715_L14995-H16065_C2777.L14995.PW009022092.seq,bird_strike/20200825&0826萧山机场4个&北京大兴机场44个样品结果/...,CZ6715,92233,CZcytb2020082592233
2584,20200413,JYCS,cytb,JYCS2020-01_L14995-H16065_C2243.L14995.PW00417...,bird_strike/20200413潮汕机场1个样品结果/测序结果/cytb/JYCS2...,JYCS2020-01,56870,JYCScytb2020041356870
2585,20200413,JYCS,COI-1,JYCS2020-01_COI-1_C2243.COI-1-bird-F.PW0041701...,bird_strike/20200413潮汕机场1个样品结果/测序结果/COI/JYCS20...,JYCS2020-01,78042,JYCSCOI-12020041378042

In [99]:
df_m['file_name']

0       ZSHC-2020-07_L14995-H16065_C2291.L14995.PW0050...
1       ZSHC-2020-04_L14995-H16065_C2291.L14995.PW0050...
2       ZSHC-2020-02_L14995-H16065_C2291.L14995.PW0050...
3       JYCS2020-03_L14995-H16065_C2291.L14995.PW00509...
4       ZSHC-2020-03_L14995-H16065_C2291.L14995.PW0050...
                              ...
2581    KN2928_L14995-H16065_C2777.L14995.PW009022109.seq
2582    MF8169_L14995-H16065_C2777.L14995.PW009022080.seq
2583    CZ6715_L14995-H16065_C2777.L14995.PW009022092.seq
2584    JYCS2020-01_L14995-H16065_C2243.L14995.PW00417...
2585    JYCS2020-01_COI-1_C2243.COI-1-bird-F.PW0041701...
Name: file_name, Length: 2586, dtype: object

In [100]:
s  = 'ZBAD2021-jiaji1'
s.strip('\d.*?')

'ZBAD2021-jiaji1'

In [101]:
re.sub(r'\d.*\b','',s)

'ZBAD'

In [102]:
# s = '92'
s  = 'ZBAD-2021-jiaji1'
re.sub(r'(?<=[a-zA-Z])-?\d.*\b','',s)

'ZBAD'

In [103]:
s = '92'
# s  = 'ZBAD2021-jiaji1'
re.sub(r'\w+','',s)

''

In [104]:
s = 'ZSHC-2019-87_L'
re.sub(r'(?<=[a-zA-Z])-\d.*\b','',s)

'ZSHC'

In [105]:
#测试or的逻辑来合并的 ，地址 https://stackoverflow.com/questions/43925603/python-pandas-merge-with-or-logic
df = pd.DataFrame([[1, 2], [3, 4], [5, 6],[7,8]], columns=["A", "B"])
df2 = pd.DataFrame([[1, 7], [2, 8], [4, 9],[11,12]], columns=["C", "D"])

In [106]:
df

   A  B
0  1  2
1  3  4
2  5  6
3  7  8

In [107]:
df2

    C   D
0   1   7
1   2   8
2   4   9
3  11  12

In [108]:
res = df.merge(df2, left_on="B", right_on="C", how="left")
res

   A  B    C    D
0  1  2  2.0  8.0
1  3  4  4.0  9.0
2  5  6  NaN  NaN
3  7  8  NaN  NaN

In [109]:
pd.merge(df,df2,left_on='A',right_on='C',how='left')
# res

   A  B    C    D
0  1  2  1.0  7.0
1  3  4  NaN  NaN
2  5  6  NaN  NaN
3  7  8  NaN  NaN

In [110]:
res.update(pd.merge(df,df2,left_on='A',right_on='C',how='left'))
res

   A  B    C    D
0  1  2  1.0  7.0
1  3  4  4.0  9.0
2  5  6  NaN  NaN
3  7  8  NaN  NaN

In [111]:
print(res)

   A  B    C    D
0  1  2  1.0  7.0
1  3  4  4.0  9.0
2  5  6  NaN  NaN
3  7  8  NaN  NaN

In [112]:
df

   A  B
0  1  2
1  3  4
2  5  6
3  7  8

In [113]:
for i,v in df.iterrows():
    print(v.to_dict())

{'A': 1, 'B': 2}
{'A': 3, 'B': 4}
{'A': 5, 'B': 6}
{'A': 7, 'B': 8}