In [1]:
import numpy as np
import pandas as pd

In [11]:
df = pd.DataFrame({'A':[1,2,3],
                 'B':[400,500,600]})
new_df = pd.DataFrame({'B':[4,5,6],
                      'C':[7,8,9]})

In [12]:
df.update(new_df)

In [13]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [14]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})

In [15]:
df1

     a  b
0  foo  1
1  bar  2

In [16]:
df2

     a  c
0  foo  3
1  baz  4

In [17]:
df1.merge(df2,how='cross')

   a_x  b  a_y  c
0  foo  1  foo  3
1  foo  1  baz  4
2  bar  2  foo  3
3  bar  2  baz  4

In [ ]:
df1 = pd.DataFrame({
    "A": ["A0", "A1", "A2", "A3"],
    
})